<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <div class="row feature">
        <div class="col-sm-6 col-md-6">
        <img src="https://static.wixstatic.com/media/510ddb_2a3ae97438e641679692bea765053699~mv2_d_4000_3000_s_4_2.jpg" width="100%" class="img-responsive img-rounded">
      </div>
      <div class="col-sm-6 col-md-6">            
            <h4 class="heading mt-2">Your <span>Contribution</span> Matters</h4>
            <p>Every institution, including the Bhagwan1008 Adinath Swamy Jain Temple, relies on monetary support to fulfill its duties and achieve its purpose. Situated in North America, our temple stands as a beacon of spirituality and community for all who visit.
               <br><br> 
                Your generous contribution plays a vital role in sustaining the temple's operations, upkeep, and various community programs. Whether it's maintaining the temple premises, organizing cultural events, or supporting educational initiatives, your support enables us to continue serving the community and spreading the message of peace and harmony.
                <br><br>
                We are deeply grateful for your generosity and invite you to join us in preserving and nurturing this sacred space. Together, we can ensure that the Bhagwan1008 Adinath Swamy Jain Temple remains a place of reverence and inspiration for generations to come.</p>
          </div>      
    </div>

    <div class="row feature">
        <div class="col-sm-6 col-md-6">            
            <div class="list-group mt-2">
                <div class="row">
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-4">General Donation: Any Amount</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-4">Annual Membership: $101</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-4">Lifetime Membership: $501</a>
                    <a href="#" class="list-group-item list-group-item-action list-group-item-warning mb-4">Lunch Sponsorship: $251</a>
                </div>
            </div>
        </div>      
        <div class="col-sm-6 col-md-6 ">
            <img src="https://static.wixstatic.com/media/510ddb_2a3ae97438e641679692bea765053699~mv2_d_4000_3000_s_4_2.jpg" height="70%" width="100%" class="img-responsive img-rounded">
        </div>
    </div>
    <div class="row feature">
        <div class="col-sm-6 col-md-6">            
            <div class="list-group mt-2">
                <div class="row">
                    <div class="col-4">
                        <img src="https://static.wixstatic.com/media/510ddb_4c611512ca1047748c722d0c4c0502d0~mv2.png" width="100%" alt="interact">
                    </div>
                    <div class="col-8 mb-5">
                        <p class="m-0 text-secondary fw-bold "><b>Name:</b> Bhagwan 1008 Adinath Swamy Jain Temple*</p>
                        <p class="m-0 text-secondary fw-bold "><b>Email:</b> donations@jaintemple.ca</p>
                        <p class="m-0 text-secondary fw-bold "><b>Phone No:</b> 416-469-1109</p>
                    </div>
                </div>
            </div>
        </div>      
        <div class="col-sm-6 col-md-6">
            <div class="text-center position-relative"> <!-- Apply text-center class here -->
                <form action="">
                    <button class="btn btn-lg" id="donateBtn">Donate Online</button>
                    <img src="https://i.ibb.co/6sZwtnC/stock-photo-red-stamp-coming-soon-removebg-preview.png" class="coming-soon-image">
                </form>
                <div>
                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/visa.svg" alt="">
                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/mastercard.svg" alt="">
                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/amex.svg" alt="">
                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/discover.svg" alt="">
                    <img src="https://www.powrcdn.com/app_specific/paypal/dark_icons/paypal.svg" alt="">
                </div>
            </div>
        </div>    
    </div>
    
    <div class="text-center mb-4">
    <h5 class="heading mt-4">Important Note for Donors | <span>Please Read</span></h5>
    <p class="m-0 text-secondary"><b>In order to provide you a Tax Receipt:</b></p>
    <p class="m-0 text-secondary"><b>1.</b> Please mention your name, email address, and phone number in the ‘Remarks Section’ while making e-transfers or donating through Paypal. </p>
    <p class="m-0 text-secondary"><b>2.</b> Kindly send an email to Mr. Deepak Shah at ‘drs700@gmail.com’ with your name and contact information including complete address.</p>
</div>

</div>

<%- include('./partials/footer.ejs') %>