<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
  <h2 class="heading text-center p-3"><span>Events</span></h2>

    <div class="row">
    <div class="card m-3 shadow-card" style="width: 18rem;">
        <img src="https://www.vedantu.com/seo/content-images/05aff809-4fb6-4367-af25-32922b5dc548.jpg" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Mahavir Jayanti</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn">Go somewhere</a> -->
        </div>
      </div>
      <div class="card m-3 shadow-card" style="width: 18rem;">
        <img src="https://www.siddhachalam.org/wordpress/media/dhwaj-tonk.jpg" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anniversary and Dhvajaaropan</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn">Go somewhere</a> -->
        </div>
      </div>
      <div class="card m-3 shadow-card" style="width: 18rem;">
        <img src="https://qph.cf2.quoracdn.net/main-qimg-17e97315ca0a5dff6131c129cd3f396f-pjlq" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Das Laxan/Paryushan Parv</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn">Go somewhere</a> -->
        </div>
      </div>
      <div class="card m-3 shadow-card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/0/03/Jain_temples_on_Girnar_mountain_aerial_view.jpg" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jal Yatra</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn">Go somewhere</a> -->
        </div>
      </div>
      <div class="card m-3 shadow-card" style="width: 18rem;">
        <img src="https://img.freepik.com/premium-photo/illustration-diwali-festival-diya-lamp-with-rangoli-bottom-ai-generated_852336-17196.jpg" class="card-img-top" height="200px" alt="...">
        <div class="card-body">
          <h5 class="card-title">Diwali</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <a href="#" class="btn">Go somewhere</a> -->
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <div id="content">
                        <h3>Sunday</h3>
                        <ul class="timeline">
                            <li class="event" data-date="10:00 am to 11:30 am">
                                <h3>Samuhik Puja</h3>
                                <p>Get here on time, it's first come first serve. Be late, get turned away.</p>
                            </li>
                            <li class="event" data-date="11:30 am to 12:15 pm">
                                <h3>Swadhyay</h3>
                                <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP &amp; Busta Rhymes as an opening show.</p>
                            </li>
                            <li class="event" data-date="12:15 pm  onwards">
                                <h3>Lunch</h3>
                                <p>This is where it all goes down. You will compete head to head with your friends and rivals. Get ready!</p>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 mt-2">
            <div class="card">
                <div class="card-body">
                    <div id="content">
                        <h3>Weekdays and Saturday</h3>
                        <ul class="timeline">
                            <li class="event" data-date="9:00 am to 12:00 pm">
                                <h3>Samuhik Puja</h3>
                                <p>Get here on time, it's first come first serve. Be late, get turned away.</p>
                            </li>
                            <li class="event" data-date="4:00 pm to 8:00 pm">
                                <h3>Swadhyay</h3>
                                <p>Get ready for an exciting event, this will kick off in amazing fashion with MOP &amp; Busta Rhymes as an opening show.</p>
                            </li>                                                     
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p><b>Please note that timings are subject to change. If you wish to sponsor lunch or Vidhaan, please feel free to reach us (Please refer to <a href="/contactUs" class="text-muted">contact us</a> section).</b></p>
</div>

<%- include('./partials/footer.ejs') %>