<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <div class="lightbox">
        <div class="row">
          <div class="col-lg-6">
            <img
            src="https://static.wixstatic.com/media/510ddb_3823a89cfcca44b4b93876852f3aae98~mv2_d_2990_2242_s_2.jpg"
                  alt="Table Full of Spices"
              class="w-100 mb-2 mb-md-4 shadow-1-strong rounded"
            />
            <img
              src="https://static.wixstatic.com/media/510ddb_2a3ae97438e641679692bea765053699~mv2_d_4000_3000_s_4_2.jpg"
              alt="Coconut with Strawberries"
              class="w-100 mb-2 shadow-1-strong rounded"
            />
          </div>
          <div class="col-lg-6">
            <img
            src="https://static.wixstatic.com/media/510ddb_16a31fed49e1411192ebeed767739b0f~mv2_d_2219_2959_s_2.jpg"
              alt="Dark Roast Iced Coffee"
              class="w-100 shadow-1-strong rounded"
            />
          </div>
        </div>
      </div>

     
</div>

<%- include('./partials/footer.ejs') %>