<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <div class="heading-container">
        <h2 class="heading text-center p-3">Bhagwaan <span>1008 Adinath Swamy</span> Jain Temple</h2>
        <div class="border-line"></div> <!-- Pseudo-element for border line -->
    </div>
    <%- include('./partials/carousel.ejs') %>

    
    <div class="row feature">
      <div class="col-sm-6 col-md-6">
      <img src="https://static.wixstatic.com/media/510ddb_2a3ae97438e641679692bea765053699~mv2_d_4000_3000_s_4_2.jpg" width="100%" class="img-responsive img-rounded">
    </div>
    <div class="col-sm-6 col-md-6">            
          <h4 class="heading">Bhagwaan <span>1008 Adinath Swamy</span> Jain Temple</h4>
          <p>Nestled along Brampton's Mayfield Road, the resplendent Bhagwan 1008 Adinath Swamy Jain Temple, affectionately known as the Brampton Jain Temple, stands as a majestic emblem of spiritual devotion and architectural brilliance. Serving as the inaugural Shikharbandi Jain temple in North America, its towering Manastambh beckons worshippers, urging them to shed worldly concerns and embrace inner reflection upon entering its sacred precincts. What sets this temple apart is its unwavering dedication to preserving traditional Indian architecture; every intricately carved facade and meticulously crafted ornament serves as a testament to the enduring legacy of Jain parampara. Beyond its aesthetic allure, the temple fosters a vibrant community hub, offering spaces for prayer, meditation, and communal gatherings.As visitors explore its halls, they are immersed in tranquility, finding spiritual enlightenment and cultural pride. Over time, the temple remains a beacon of hope, inspiring future generations with its commitment to compassion, tolerance, and communal harmony.</p>
        </div>      
  </div>
  <div class="row feature">      
      <div class="col-sm-6 col-sm-pull-6 col-md-6">   <!--   HERE   -->
          <h4 class="heading">Temple <span>History</span></h4>
          <p>The idea of the temple started taking shape with the determination of Smt. Kanchanben and Shri Gyanchand Jain’s determination. Shri S. S. Jain foundation established by the couple for the purposes of charities, started construction of the temple on one of their spacious plots of land in 2011. In July 2013 Shilanyas was performed and on 14th of July 2014 a weeklong Prathishtha Mahotsav was celebrated by the Jain community of North America in the presence of several Pundits and religious scholars and thousands of mumukshus from across the globe. </p><p> 
              At present the temple has a prayer hall, swadhyay hall, library, meditation room, dining hall and a modern well-equipped kitchen. The temple also has modern media facilities including audio and video equipment which can address gathering of 200-300 people. A new adjoining structure which is coming up very fast, will house an activity hall and a couple of rooms for the visiting scholars and out of town mumukshus for their temporary stay. The independent premises of the temple also provide large space for parking. The entire complex is shaping up to be a Jain Tirth Dham. </p>
      </div>   
      <div class="col-sm-push-6 col-sm-6 col-md-6">   <!--   HERE   -->
        <img src="https://static.wixstatic.com/media/510ddb_3823a89cfcca44b4b93876852f3aae98~mv2_d_2990_2242_s_2.jpg" width="100%" class="img-responsive img-rounded">
      </div>   
  </div></div>

<%- include('./partials/footer.ejs') %>
