<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <h2 class="heading text-center p-3"><span>Pratishthit </span>Bhagwaan</h2>

      <div class="card mb-5 shadow-card">
        <div class="row g-0 pb-4">
            <div class="col-md-4">
              <img src="https://static.wixstatic.com/media/510ddb_94b4298307104b92a816f1a24933b484~mv2_d_3000_2250_s_2.jpg/v1/crop/x_457,y_581,w_2072,h_1003/fill/w_505,h_245,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030353_edited.jpg" class="img-fluid rounded" alt="..." >
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body text-center">
                  <p class="card-text">Adinath Bhagwan Molnayak - Padmasan Pratima in White Marble - 4.3 Ft
                    <br>
                    Mahavir Bagwan - Padmasan Pratima in White Marble - 3.5 Ft.
                    <br>
                    Shantinath Bagwan - Padmasan Pratima in White Marble - 3.5 Ft.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

      <div class="card mb-5 shadow-card">
        <div class="row g-0 pb-4">
            <div class="col-md-4">
                <img src="https://static.wixstatic.com/media/510ddb_50f0d3b7f0e8426e8188839bafd31e57~mv2_d_3000_1987_s_2.jpg/v1/crop/x_0,y_215,w_3000,h_1772/fill/w_505,h_288,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030386_edited.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body text-center">
                    <p class="card-text">Adinath Bhagwan - Padmasan Pratima in PanchDhatu - 9 In.
                      <br>
                      Mahavir Bahwaan - Padmasan Pratima in PanchDhatu - 9 In. <br>
Parasnath Bahwaan - Padmasan Pratima in PanchDhatu - 9 In.
                    </p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
      
      <div class="card mb-5 shadow-card">
        <div class="row g-0 pb-4">
            <div class="col-md-4">
                <img src="https://static.wixstatic.com/media/510ddb_0aa1fe300221479a8c1b0d6098b971d5~mv2_d_4000_3000_s_4_2.jpg/v1/fill/w_504,h_375,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030363_JPG.jpg" class="img-fluid rounded" alt="...">
            </div>
            <div class="col-md-8 d-flex align-items-center">
                <div class="card-body text-center">
                    <p class="card-text">Siddh Bhagwaan Pratima in Metal - 9 In.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card mb-5 shadow-card">
      <div class="row g-0 pb-4">
          <div class="col-md-4">
              <img src="https://static.wixstatic.com/media/510ddb_f26b807c60ef4501a7b04122cd07b495~mv2_d_3000_4000_s_4_2.jpg/v1/crop/x_0,y_2200,w_3000,h_920/fill/w_600,h_300,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/P1030386_edited.jpg
              " class="img-fluid rounded" alt="...">
          </div>
          <div class="col-md-8 d-flex align-items-center">
              <div class="card-body text-center">
                  <p class="card-text">Videh Kshetra ke vidhyamaan

                    20 Tirthankar Pratima in Metal 1.9 Ft.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
          </div>
      </div>
  </div>

  <div class="card mb-5 shadow-card">
    <div class="row g-0 pb-4">
        <div class="col-md-4">
            <img src="https://static.wixstatic.com/media/510ddb_16a31fed49e1411192ebeed767739b0f~mv2_d_2219_2959_s_2.jpg/v1/crop/x_512,y_592,w_1422,h_1946/fill/w_248,h_335,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030356_edited.jpg" class="img-fluid rounded" alt="...">
        </div>
        <!-- <div class="col-md-2">
            <img src="https://static.wixstatic.com/media/510ddb_b0dca4f8392c405b8ee5ee61c3367694~mv2_d_2250_3000_s_2.jpg/v1/crop/x_467,y_495,w_1522,h_2075/fill/w_248,h_335,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030355_edited.jpg" class="img-fluid rounded" alt="...">
        </div> -->
        <div class="col-md-8 d-flex align-items-center">
            <div class="card-body text-center">
                <p class="card-text">Bahulbali Bhagwan - Khadgasan Pratima in White Marble - 5 Ft.</p>
                <!-- <p class="card-text">Bharat Bahwaan - Khadgasan Pratima in White Marble - 5 Ft.</p> -->
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="card mb-5 shadow-card">
  <div class="row g-0 pb-4">
      <div class="col-md-4">
          <img src="https://static.wixstatic.com/media/510ddb_b0dca4f8392c405b8ee5ee61c3367694~mv2_d_2250_3000_s_2.jpg/v1/crop/x_467,y_495,w_1522,h_2075/fill/w_248,h_335,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030355_edited.jpg" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-center">
              <p class="card-text">Bharat Bahwaan - Khadgasan Pratima in White Marble - 5 Ft.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  </div>
</div>

<div class="card mb-5 shadow-card">
  <div class="row g-0 pb-4">
      <div class="col-md-4">
          <img src="https://static.wixstatic.com/media/510ddb_3823a89cfcca44b4b93876852f3aae98~mv2_d_2990_2242_s_2.jpg/v1/crop/x_25,y_50,w_2940,h_1864/fill/w_503,h_328,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030478_edited.jpg 
          " class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-center">
              <p class="card-text">Four Pratima of Adinath Bhagwan in the middle of the Manastambh</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  </div>
</div>

<div class="card mb-5 shadow-card">
  <div class="row g-0 pb-4">
      <div class="col-md-4">
          <img src="https://static.wixstatic.com/media/510ddb_2a3ae97438e641679692bea765053699~mv2_d_4000_3000_s_4_2.jpg/v1/crop/x_726,y_69,w_3136,h_1973/fill/w_493,h_308,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/P1030468_JPG.jpg" class="img-fluid rounded" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
          <div class="card-body text-center">
              <p class="card-text">Four Pratima of Adinath Bhagwan on top of the Manastambh</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
      </div>
  </div>
</div>


</div>

<%- include('./partials/footer.ejs') %>